<header id="inicio" class="hero">
    <div class="hero-content">
        <h3>Ariadna Denisse Garcia Estrada</h3>
        <h1>Ingeniera en Computación</h1>
        <p>Desarrollo interfaces web funcionales y visualmente atractivas, combinando diseño y lógica de
            programación. Actualmente fortalezco mis conocimientos en análisis y visualización de datos.</p>
        <div class="social-links">
            <a href="https://linkedin.com" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
            <a href="#" class="btn-primary">Descargar CV</a>
        </div>

    </div>
    <div class="hero-img">
        <img src="me.png" alt="Ariadna Foto" id="photo">
    </div>
</header>