<section id="proyectos" class="section reveal active">
    <p class="periodico">
        <span class="letra simpleDos">P</span><span class="letra sombra">r</span><span
            class="letra puntos">o</span><span class="letra papel">y</span><span class="letra lineas">e</span><span
            class="letra sombra">c</span><span class="letra simpleDos">t</span><span class="letra puntos">o</span><span
            class="letra simple">s</span>
    </p>

    <div class="projects-container">
        <article class="project-card">
            <div class="project-info">
                <h3>Gestión de Inventario</h3>
                <p>Aplicación web para el control de productos, entradas, salidas y estadísticas clave.</p>
                <div class="tags">
                    <span class="tag-tech" title="Node.js"><i class="fab fa-node-js"></i></span>
                </div>
                <a href="https://github.com/ariadna-ge/Inventario_tienda" class="btn-project" target="_blank">Ver Repositorio</a>
            </div>
        </article>

        <article class="project-card">
            <div class="project-info">
                <h3>Web Restaurante</h3>
                <p>Desarrollo de una página web con diseño atractivo y estructura orientada al usuario.</p>
                <div class="tags">
                    <span class="tag-tech" title="HTML5"><i class="fab fa-html5"></i></span>
                    <span class="tag-tech" title="CSS3"><i class="fab fa-css3-alt"></i></span>
                </div>
                <a href="https://github.com/ariadna-ge/Coralium-Restaurante" class="btn-project" target="_blank">Ver Repositorio</a>
            </div>
        </article>
        <article class="project-card">
            <div class="project-info">
                <h3>Sistema de Inscripciones</h3>
                <p>Sistema de inscripción escalable diseñado para optimizar la coordinación y validación de datos.</p>
                <div class="tags">
                    <span class="tag-tech" title="Angular"><i class="fab fa-angular"></i></span>
                </div>
                <a href="https://github.com/cuevasedu04/frontend_celex" class="btn-project" target="_blank">Ver Repositorio</a>
            </div>
        </article>

        <article class="project-card">
            <div class="project-info">
                <h3>Portafolio</h3>
                <p>Portafolio profesional con diseño responsivo y estructura optimizada para la navegación del usuario.</p>
                <div class="tags">
                    <span class="tag-tech" title="Angular"><i class="fab fa-angular"></i></span>
                </div>
                <a href="https://github.com/ariadna-ge/portafolio_adge" class="btn-project" target="_blank">Ver Repositorio</a>
            </div>
        </article>

    </div>
</section>